@import "src/assets/styles/styles";

app-table {
  display: block;
  margin-top: 30px;
}

.pagination {
  margin-top: 30px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  color: $rock-blue;
  font-size: 1.2rem;

  @include default-shadow();
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .col {
    width: 48%;
  }

  app-input {
    width: 100%;
  }
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
