@import "src/assets/styles/styles";

.wrapper {
  padding: 15px;
  @include default-shadow();
  border-radius: 15px;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  margin-top: 0;
  color: $rock-blue;
}

.details-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.result {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.description {
  text-align: center;

  .description-title {
    color: $dodger-blue;
    @include rubik-medium();
    margin-top: 0;
    margin-bottom: 0;
  }

  .description-content {
    color: $rock-blue;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.no-diagnoses {
  text-align: center;
  color: $rock-blue;
  @include rubik-medium;
}

.no-diagnoses-header {
  margin-top: 80px;
  font-size: 1.8rem;
}

.no-diagnoses-text {
  display: block;
  margin-bottom: 80px;
}
