@import "src/assets/styles/styles";

.wrapper {
  width: 100%;
  height: 240px;
  background-color: $rock-blue;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  @include screen(mobile) {
    justify-content: center;
  }

  @include screen(tablet) {
    justify-content: center;
  }
}

h2 {
  color: $alabaster;
  text-align: center;
}

img {
  position: absolute;
  right: 30px;
  bottom: -30px;

  @include screen(mobile) {
    display: none;
  }

  @include screen(tablet) {
    display: none;
  }
}

.gradient {
  @include gradient(#504dff, #9b4dff);
}
