<div class="wrapper" *ngIf="allData$ | async as allData">
  <app-breadcrumb text="User Profile"></app-breadcrumb>
  <app-heading-box
    *ngIf="allData.profile"
    [text]="'We\'re glad youre back, ' + allData.profile.name + '!'"
    placement="profile"
  ></app-heading-box>

  <div class="boxes">
    <app-personal-info [profile]="allData.profile"></app-personal-info>
    <app-recent-healthcheck
      [diagnosis]="allData.diagnosis"
    ></app-recent-healthcheck>
  </div>

  <app-toolbox></app-toolbox>
</div>
