@import "src/assets/styles/styles";

.signin-wrapper {
  width: 100%;
  height: 100vh;
  background-color: $dodger-blue;
  padding: 30px 200px 200px 200px;
  color: $alabaster;

  @include gradient(#504dff, #9b4dff);

  @include screen(mobile) {
    padding: 30px;
  }

  @include screen(tablet) {
    padding: 30px;
  }
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bar-buttons {
    app-button {
      margin-left: 15px;
    }
  }
}

.signin-box-wrapper {
  width: 30%;
  margin: 0 auto;
  padding-top: 100px;

  @include screen(mobile) {
    width: 100%;
    padding-top: 0;
  }

  @include screen(tablet) {
    width: 70%;
  }
}

.signin-box {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  background-color: $alabaster;
  border-radius: 15px;
  overflow: hidden;
  @include default-shadow();
}

.left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;

  @include screen(mobile) {
    width: 100%;
  }

  form {
    width: 100%;
  }
}

.right {
  width: 40%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 30px;
  text-align: center;

  @include gradient(#ff756c, #ffaa6c);
  @include screen(mobile) {
    display: none;
  }
}

app-logo {
  cursor: pointer;
}
