<div class="wrapper" *ngIf="diagnosis$ | async as diagnosis; else noDiagnosis">
  <app-breadcrumb text="Diagnosis"></app-breadcrumb>
  <app-result
    (backClick)="navigateBack()"
    [disease]="diagnosis.disease"
    [probability]="diagnosis.probability"
  ></app-result>
  <app-description [description]="diagnosis.description"></app-description>
  <div class="boxes">
    <app-tips [tips]="diagnosis.tips"></app-tips>
    <app-diagnosis-doctors-nearby></app-diagnosis-doctors-nearby>
  </div>
</div>

<ng-template #noDiagnosis class="wrapper">
  <p class="no-diagnoses no-diagnoses-header">No diagnosis</p>
  <app-button
    [routerLink]="['/examination']"
    class="no-diagnoses no-diagnoses-text"
    text="Examinate yourself!"
  >
  </app-button>
</ng-template>
