@import "src/assets/styles/styles";

.sidebar-wrapper {
  width: 70px;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $dodger-blue;
  z-index: 9999;

  @include screen(mobile) {
    left: -70px;
  }
}

.mobileOpened.sidebar-wrapper {
  width: 100%;
  left: 0px;
}

.entry {
  display: flex;
  color: $alabaster;
  cursor: pointer;

  p {
    margin-left: 10px;
    line-height: 1.4rem;

    @include screen(desktop) {
      display: none;
    }

    @include screen(tablet) {
      display: none;
    }
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  height: 100%;
}

.icons-upper {
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.hide {
  display: none;
}

.open {
  background-color: $dodger-blue;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  right: 15px;
  bottom: 15px;

  @include screen(desktop) {
    display: none;
  }

  @include screen(tablet) {
    display: none;
  }
}
