<ng-container *ngIf="allData$ | async as allData">
  <app-sidebar></app-sidebar>
  <router-outlet> </router-outlet>

  <button (click)="tempSignIn()">Sign in</button>
  <button (click)="tempSignOut()">Sign out</button>

  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <app-input
      formControlName="email"
      label="Email"
      placeholder="write..."
    ></app-input>
    <app-input
      formControlName="password"
      label="Password"
      type="password"
      invalidMessage="Please provide valid password"
    ></app-input>
    <button type="submit">submit</button>
  </form>
</ng-container>
