@import "src/assets/styles/styles";

.wrapper {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 15px;

  @include default-shadow();
}

.title {
  margin: 0;
  @include rubik-regular();

  @include screen(mobile) {
    width: 100%;
  }
}

app-button {
  @include screen(mobile) {
    display: block;
    margin-top: 15px;
  }
}
