@import "~normalize.css";
@import "~leaflet/dist/leaflet.css";
@import "./assets/styles/styles";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  color: $mine-shaft;
  background-color: $alabaster;

  @include roboto-regular();
}

h1,
h2,
h3,
h4,
h5 {
  @include rubik-medium();
}

h1 {
  font-size: 4.8rem;
  color: $alabaster;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 1.8rem;
}

input,
textarea,
select {
  color: $mine-shaft;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4) !important;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}

.leaflet-popup-content-wrapper {
  font-size: 1.5rem;
  background-color: $alabaster;
  text-align: center;
  color: $rock-blue;
  @include default-shadow();
  @include rubik-regular();
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  background-color: $alabaster;
}

.map-popup-doctor {
  font-size: 1.8rem;
  color: $dodger-blue;
  padding: 15px;
  @include rubik-medium();
}

.map-popup-clinicks {
  color: $mine-shaft;
}

.map-marker {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $bittersweet;
  border: 4px solid $dodger-blue;
  border-radius: 50%;
}
